<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-container">
                    <img class="card-img-top" src="{{women.image}}" alt="women-image">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center"> {{women.name}} </h5>
                        <ul>
                            <li class="inform"> {{women.dateLive}} </li>
                            <li class="inform"> Nationality: {{women.nationality}} </li>
                            <li class="inform"> Field: {{women.field}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>