<div class="card-collection container">
    <h1 class="principal-title text-center"> {{"main_title" | translate}} </h1>
</div>
    <div *ngIf="currentLang()=== 'es'" class="women-container-all">
        <div class="col" *ngFor="let woman of women">
            <app-card [women]="woman"></app-card>
        </div>
    </div>

    <div *ngIf="currentLang() !== 'es'" class="women-container-all">
        <div class="col" *ngFor="let woman of womenEn">
            <app-card [womenEn]="woman"></app-card>
        </div>
    </div>

